@use "functions" as f;
@use "variables" as v;
@use "mq" as *;

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&family=DM+Sans:ital,opsz,wght@0,9..40,300;500;600;700;1,9..40,300;500;600;700;&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: unset;
  user-select: none;
  list-style: none;
  scroll-behavior: smooth;
}
